*{
  padding:0;
  margin: 0;
}
body{
  background-color: gray;
}


/*👉👉Header style.com👈👈*/
.main_container{
  height: 1160px;
  max-width:700px;
  background-color:#23aacc;
  margin: 0 auto;
  padding: 10px;
}

header{
  
  }
  
#profile_picture{
  height:120px;
  width:110;
  border:2px solid white;
  border-radius:50%;
  float: left;
}
#header-bio{
  float:left;
  padding: 40px;
  color:white;
  font-family: times;
  text-shadow:2px 2px black;

}
#contact{
  float: right;
  padding: 10px;
  margin-top: 20px;
  
}
#contact ul li{
  list-style-type: none;
  text-decoration:none;
  color:white;
}
#contact a{
  text-decoration:none;
  font-style:italic;
  font-family: times;
  color:white;
}
#contact ul li a:hover{
  color:black;
}
#clear-div{
  clear: both;
}
hr{
  border: 5px solid black;
  width:690px;
  border-bottom: none;
}

/*👉👉main style.com👈👈*/

/*👇👇personal section start👇👇*/
#personal_section{
  
}
#personal_container{
margin-top: 30px;
}
#left_div{
  width:40%;
  float: left;
  color:red;
}
#right_div{
  width:60%;
  float: left
  
}
  #right_div li{
  list-style-type: none;
}
/*👆👆personal section end👆👆*/

/*👉common horizental row*/
.comon_horizental_row{
  border:2px solid black;
  border-bottom: none;
  margin:20px auto;
  width: 100%;
}
/*common horizental row👈*/

/*👇👇work ecprience start👇👇*/
    #work_section{
      
    }
    #work_container{
      
    }
    #common_work_style_info{
      color:yellow;
    }
    #common_work_style_date{
      color:brown;
    }


/*👆👆work ecprience end👆👆*/

/*👇👇School syudy section start👇👇*/
   #Nurbidda{
     width: 45%;
     float: left;
   }
   #RBR{
     height: ;
     width: 45%;
     float: right;
   }
   #Nurbidda h4,#RBR h4{
     color:brown;
   }
   #Nurbidda h5,#RBR h5{
     color:#ff0076;
   }
/*👆👆School syudy section start👆👆*/

/*👇👇footer start here👇👇*/
#footer_section li{
  list-style-type: none;
  float: left;
  padding: 20px;
}
#button_div{
  margin-left: 140px;
  text-align: center;
}
#button_div button{
  background-color: gray;
  font-weight: 999;
  font-family:times;
  padding:3px;
  
}
button:hover{
  background-color: red;
  color:red;
}
/*👆👆footer start here👆👆*/